resources:
  - ../../base/amp-controller

labels:
  - pairs:
      app: amp-controller
      repo: amp-private
      team: amp
      environment: staging
    includeSelectors: true
    includeTemplates: true
