[package]
name = "solana-datasets"
edition.workspace = true
version.workspace = true
license-file.workspace = true

[features]
schemars = ["dep:schemars", "datasets-common/schemars", "dep:serde_json"]

[dependencies]
anyhow.workspace = true
async-stream.workspace = true
backon.workspace = true
bs58 = "0.5.1"
base64 = "0.22.1"
datasets-common = { path = "../../core/datasets-common" }
datasets-raw = { path = "../../core/datasets-raw" }
futures.workspace = true
fs-err.workspace = true
governor.workspace = true
monitoring = { path = "../../core/monitoring" }
memmap2 = "0.9.9"
reqwest.workspace = true
schemars = { workspace = true, optional = true }
serde.workspace = true
serde_json = { workspace = true, optional = true }
serde_with = "3.9.0"
solana-clock = "3.0.0"
solana-client = "3.0.10"
solana-rpc-client-api = "3.0.10"
solana-sdk = "3.0.0"
solana-storage-proto = { path = "../solana-storage-proto" }
solana-transaction-status-client-types = "3.0.10"
thiserror.workspace = true
tokio.workspace = true
tracing.workspace = true
url.workspace = true
yellowstone-faithful-car-parser = "1.0.0"
zstd.workspace = true
prost.workspace = true

# Not using the workspace version for compatibility with Solana crates 
# we depend on. They are all on 1.3.3 for legacy reasons.
bincode = "1.3.3"

[dev-dependencies]
fs-err.workspace = true
