**/.ipynb_checkpoints
**/.python-version
**/__pycache__
**/*.DS_STORE
.history
.envrc
.direnv
.env
.nozzle
/local
/target
/tests/config/providers/
/tests/config/dataset_defs/register_test*.json
/tests/config/dataset_defs/deploy_test*.json
uv.lock
cache/
out/
broadcast/
node_modules/
dist/
build/
*.tsbuildinfo
.idea
.vscode/
config.toml