**/.ipynb_checkpoints
**/.python-version
**/__pycache__
**/*.DS_STORE
.history
.envrc
.direnv
/.vscode
/local
/target
/tests/config/providers/firehose_eth_mainnet.toml
/tests/config/providers/rpc_eth_mainnet.toml
uv.lock
node_modules/
dist/
build/
*.tsbuildinfo
