# Sample of a configuration Copy this file and edit it. Set the environment variable `NOZZLE_CONFIG`
# to its location. See `configuration.md` for more information.

# All directory configurations (the `*_dir` keys) support both filesystem land object store
# locations. So they can either be a filesystem path, for local storage, or a URL for object an
# store, in one of the following formats:
#
# # S3 and S3-compatible stores
# 
#   URL format: `s3://<bucket>`. S3 session can be configured through the following environment
#   variables:
#
#     * AWS_ACCESS_KEY_ID: access key ID
#     * AWS_SECRET_ACCESS_KEY: secret access key
#     * AWS_DEFAULT_REGION: AWS region
#     * AWS_ENDPOINT: endpoint
#     * AWS_SESSION_TOKEN: session token
#     * AWS_ALLOW_HTTP: allow HTTP
#
# # Google Cloud Storage (GCS)
#
#  URL format: `gs://<bucket>`. GCS Authorization can be configured through one of the following
#  environment variables:
#
#     * GOOGLE_SERVICE_ACCOUNT_PATH: location of service account file, or
#     * GOOGLE_SERVICE_ACCOUNT_KEY: JSON serialized service account key, or
#     * Appication Default Credentials.

# Where the extracted datasets are stored.
data_dir = "<config_dir/data>"

# Path to a providers directory. Each provider is configured as a separate toml file in this
# directory. Dataset definitions will reference providers by a relative path to this directory.
providers_dir = "<config_dir/providers>"

# Path to a directory containing dataset definition files.
dataset_defs_dir = "<config_dir/dataset_defs>"

# How much memory the server can use in MB. Setting this to 0 means unlimited
max_mem_mb = 21474

# Paths where DataFusion can create temporary files. Setting this to an
# empty array disables spill-to-disk
spill_location = ["/some/where/else"]
