version: '3.8'
services:
  # Runs postgres at URL postgresql://postgres:postgres@localhost:5432/nozzle
  db:
    image: postgres:alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - PGUSER=postgres
      - POSTGRES_DB=nozzle
    ports:
      - '5432:5432'

  # DB explorer right in your web browser at
  # http://localhost:7402/?pgsql=db&username=postgres&db=nozzle&ns=public
  # Password: postgres
  adminer:
    image: adminer
    restart: always
    ports:
      - 7402:8080

  # All-in-one observability stack (Grafana + OTEL + Loki + Tempo + Prometheus + Pyroscope).
  # To get started with telemetry in Nozzle, add an `[opentelemetry]` section in the `config.toml` file.
  #
  # To export OpenTelemtry traces add `trace_url = "http://localhost:4317/v1/traces"` to the [opentelemetry] section of the config file.
  # To export OpenTelemtry metrics add `metrics_url = "http://localhost:4318/v1/metrics"` to the [opentelemetry] section of the config file.
  #
  # To view OpenTelemetry traces/metrics/logs open the Grafana UI at http://localhost:3000.
  lgtm:
    image: grafana/otel-lgtm
    ports:
      - "3000:3000" # Grafana UI
      - "4317:4317" # OTLP_gRPC_PORT
      - "4318:4318" # OTLP_HTTP_PORT
    # Mount local dashboard files to the LGTM Grafana image.
    volumes:
      - ./grafana/dashboards:/var/lib/grafana/dashboards
      - ./grafana/provisioning/dashboards:/otel-lgtm/grafana/conf/provisioning/dashboards

  # Runs a gel database instance for the nozzle registry api.
  # This will maintain the metadata-rich view of datasets with full-text searching as well as ai embeddings/RAG.
  #
  # To view the gel admin ui, open: localhost:5656/ui
  nozzle_registry_db:
    image: geldata/gel:latest
    environment:
      GEL_SERVER_USER: nozzle_registry_adm
      GEL_SERVER_PASSWORD: admin
      GEL_SERVER_INSTANCE: nozzle_registry
      GEL_SERVER_SECURITY: insecure_dev_mode
      GEL_SERVER_ADMIN_UI: enabled
      GEL_SERVER_PORT: 5656
      GEL_DOCKER_APPLY_MIGRATIONS: always
    ports:
      - "5656:5656"
    volumes:
      - nozzle_registry_data:/var/lib/gel/data
      - "./dbschema:/dbschema"
    restart: unless-stopped

volumes:
  nozzle_registry_data: