[tool.poetry]
name = "nozzle"
version = "0.1.0"
description = ""
authors = ["David Lutterkort"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
protobuf = "^5.26.1"
pyarrow = "^16.0.0"
jupyter = "^1.0.0"
polars = "^1.7.0"
requests = "^2.31.0"
base58 = "^2.1.1"
eth-utils = "^5.0.0"
click = "^8.1.7"
datafusion = "^40.1.0"
pycryptodome = "^3.20.0"
pandas = "^2.2.2"
pydantic = "^2.9.2"



[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
