[tool.poetry]
name = "nozzle"
version = "0.1.0"
description = ""
authors = ["David Lutterkort"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
protobuf = "^5.26.1"
pyarrow = "^16.0.0"
pandas = "^2.2.2"
jupyter = "^1.0.0"
eth-utils = "^5.0.0"
google-cloud = "^0.34.0"
google-cloud-bigquery = "^3.25.0"
google-cloud-storage = "^2.18.2"
base58 = "^2.1.1"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
