name: Deploy Argocd Apps

concurrency:
   group: staging-crates-${{ github.ref }}
   cancel-in-progress: true

on:
   workflow_dispatch:
   workflow_run:
      workflows: ["Build"]
      types: [completed]

env:
   CARGO_TERM_COLOR: always
   RUST_BACKTRACE: full

jobs:
   deploy-controller:
      if: ${{ github.event.workflow_run.conclusion == 'success' }}

      uses: ./.github/workflows/template-deploy.yaml
      with:
         APP_NAME: amp-controller
      secrets:
         ARGOCD_SERVER_URL: ${{ secrets.STAGING_AMP_STAGING_ARGOCD_SERVER }}
         ARGOCD_AUTH_TOKEN: ${{ secrets.STAGING_AMP_STAGING_ARGOCD_AUTH_TOKEN }}
         ARGOCD_BASIC_AUTH_HASH: ${{ secrets.STAGING_ARGOCD_BASIC_AUTH_HASH }}
   deploy-gateway:
      if: ${{ github.event.workflow_run.conclusion == 'success' }}

      uses: ./.github/workflows/template-deploy.yaml
      with:
         APP_NAME: amp-gateway
         IMAGE_NAME: envoyproxy/envoy
         IMAGE_TAG: v1.28-latest
      secrets:
         ARGOCD_SERVER_URL: ${{ secrets.STAGING_AMP_STAGING_ARGOCD_SERVER }}
         ARGOCD_AUTH_TOKEN: ${{ secrets.STAGING_AMP_STAGING_ARGOCD_AUTH_TOKEN }}
         ARGOCD_BASIC_AUTH_HASH: ${{ secrets.STAGING_ARGOCD_BASIC_AUTH_HASH }}
   deploy-server:
      if: ${{ github.event.workflow_run.conclusion == 'success' }}

      uses: ./.github/workflows/template-deploy.yaml
      with:
         APP_NAME: amp-server
      secrets:
         ARGOCD_SERVER_URL: ${{ secrets.STAGING_AMP_STAGING_ARGOCD_SERVER }}
         ARGOCD_AUTH_TOKEN: ${{ secrets.STAGING_AMP_STAGING_ARGOCD_AUTH_TOKEN }}
         ARGOCD_BASIC_AUTH_HASH: ${{ secrets.STAGING_ARGOCD_BASIC_AUTH_HASH }}
