name: Continuous Integration

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: full

jobs:
  unit-tests:
    name: Unit tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      RUSTFLAGS: "-D warnings"
    steps:
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v2
      - name: Install deps
        run: sudo apt-get install -y protobuf-compiler
      - name: Unit tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --verbose --workspace --exclude tests -- --nocapture

  integration-tests:
    name: Integration tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      RUSTFLAGS: "-D warnings"
      FIREHOSE_ETH_MAINNET_URL: ${{ secrets.FIREHOSE_ETH_MAINNET_URL }}
      FIREHOSE_ETH_MAINNET_TOKEN: ${{ secrets.FIREHOSE_ETH_MAINNET_TOKEN }}
      RPC_ETH_MAINNET_URL: ${{ secrets.RPC_ETH_MAINNET_URL }}
    steps:
      - uses: actions/checkout@v2
      - uses: Swatinem/rust-cache@v2
      - name: Install deps
        run: sudo apt-get install -y protobuf-compiler
      - name: Copy firehose provider file
        run: |
          envsubst < tests/config/providers/COPY_ME_firehose_eth_mainnet.toml \
                   > tests/config/providers/firehose_eth_mainnet.toml
      - name: Copy rpc provider file
        run: |
          envsubst < tests/config/providers/COPY_ME_rpc_eth_mainnet.toml \
                   > tests/config/providers/rpc_eth_mainnet.toml
      - name: Integration tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --verbose -p tests -- --nocapture

  rustfmt:
    name: Check rustfmt style
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - name: Check formatting
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  release-check:
    name: Build in release mode
    runs-on: ubuntu-latest
    timeout-minutes: 60
    env:
      RUSTFLAGS: "-D warnings"
    steps:
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v2
      - name: Install deps
        run: sudo apt-get install -y protobuf-compiler
      - name: Cargo check (release)
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --release
