name: Continuous Integration
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: full
  RUSTFLAGS: "-D warnings"

jobs:
  unit-tests:
    name: Unit tests
    runs-on: nscloud-ubuntu-22.04-amd64-16x32
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Install dependencies
        run: sudo apt-get install -y protobuf-compiler
      - name: Unit tests
        run: cargo test --verbose --workspace --exclude tests -- --nocapture

  integration-tests:
    name: Integration tests
    runs-on: nscloud-ubuntu-22.04-amd64-16x32
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Install dependencies
        run: sudo apt-get install -y protobuf-compiler postgresql
      - name: Copy provider files
        run: |
          cp tests/config/providers/COPY_ME_firehose_eth_mainnet.toml tests/config/providers/firehose_eth_mainnet.toml
          cp tests/config/providers/COPY_ME_rpc_eth_mainnet.toml tests/config/providers/rpc_eth_mainnet.toml
          sed -i -e "s@\$FIREHOSE_ETH_MAINNET_URL@$FIREHOSE_ETH_MAINNET_URL@g" -e "s@\$FIREHOSE_ETH_MAINNET_TOKEN@$FIREHOSE_ETH_MAINNET_TOKEN@g" tests/config/providers/firehose_eth_mainnet.toml
          sed -i -e "s@\$RPC_ETH_MAINNET_URL@$RPC_ETH_MAINNET_URL@g" tests/config/providers/rpc_eth_mainnet.toml
        env:
          FIREHOSE_ETH_MAINNET_URL: ${{ secrets.FIREHOSE_ETH_MAINNET_URL }}
          FIREHOSE_ETH_MAINNET_TOKEN: ${{ secrets.FIREHOSE_ETH_MAINNET_TOKEN }}
          RPC_ETH_MAINNET_URL: ${{ secrets.RPC_ETH_MAINNET_URL }}
      - name: Integration tests
        run: cargo test --verbose -p tests -- --nocapture

  rustfmt:
    name: Check rustfmt style
    runs-on: namespace-profile-default
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Check formatting
        run: cargo fmt --all -- --check

  release-check:
    name: Build in release mode
    runs-on: nscloud-ubuntu-22.04-amd64-16x32
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Install dependencies
        run: sudo apt-get install -y protobuf-compiler
      - name: Cargo check (release)
        run: cargo check --release

  coverage:
    name: Coverage
    runs-on: nscloud-ubuntu-22.04-amd64-16x32
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Install dependencies
        run: |
          sudo apt-get install -y protobuf-compiler postgresql
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@305d37bb81325225cb9a77b3fcd7c23ff808afe1 # cargo-llvm-cov
      - name: Copy provider files
        run: |
          cp tests/config/providers/COPY_ME_firehose_eth_mainnet.toml tests/config/providers/firehose_eth_mainnet.toml
          cp tests/config/providers/COPY_ME_rpc_eth_mainnet.toml tests/config/providers/rpc_eth_mainnet.toml
          sed -i -e "s@\$FIREHOSE_ETH_MAINNET_URL@$FIREHOSE_ETH_MAINNET_URL@g" -e "s@\$FIREHOSE_ETH_MAINNET_TOKEN@$FIREHOSE_ETH_MAINNET_TOKEN@g" tests/config/providers/firehose_eth_mainnet.toml
          sed -i -e "s@\$RPC_ETH_MAINNET_URL@$RPC_ETH_MAINNET_URL@g" tests/config/providers/rpc_eth_mainnet.toml
        env:
          FIREHOSE_ETH_MAINNET_URL: ${{ secrets.FIREHOSE_ETH_MAINNET_URL }}
          FIREHOSE_ETH_MAINNET_TOKEN: ${{ secrets.FIREHOSE_ETH_MAINNET_TOKEN }}
          RPC_ETH_MAINNET_URL: ${{ secrets.RPC_ETH_MAINNET_URL }}
      - name: Generate code coverage
        run: cargo llvm-cov --all-features --workspace --lcov --output-path lcov.info
      - name: Upload to codecov.io
        uses: codecov/codecov-action@0565863a31f2c772f9f0395002a31e3f06189574 # v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: lcov.info
          fail_ci_if_error: true
