name: coverage

on: [push]
jobs:
  test:
    name: coverage
    runs-on: nscloud-ubuntu-22.04-amd64-16x32
    container:
      image: xd009642/tarpaulin:develop-nightly
      options: --security-opt seccomp=unconfined
    steps:
      - name: Install deps
        run: |
          apt-get update
          apt-get install -y protobuf-compiler cmake
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate code coverage
        run: |
          cargo +nightly tarpaulin --verbose --all-features --workspace --timeout 120 --out xml

      - name: Upload to codecov.io
        uses: codecov/codecov-action@v5
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          fail_ci_if_error: true
